.bg{
    background-image: url("https://img.freepik.com/free-photo/beautiful-tropical-empty-beach-sea-ocean-with-white-cloud-blue-sky-background_74190-13668.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
}
.bd{

    background-image: url("https://img.freepik.com/free-photo/beautiful-vertical-shot-taj-mahal-building-agra-india-cloudy-sky_181624-16913.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
}
